body {
  box-sizing: border-box;
}

/* Increase spacing between cards and top nav */
#import-card, #review-card, #upload-card {
  margin-top: 5rem;
}

/* Data review card */
#review-card {
  padding-right: 6rem;
  padding-left: 6rem;
}

/* Pill navigation */
.nav-pills {
  margin-bottom: 2rem;
}

/* Remove max width from inputs so that delete/cancel/save buttons line up properly */
.shiny-input-container:not(.shiny-input-container-inline){
  width: auto;
}

/* Data edit boxes */
.data-edit-col {
  background-color: #f8f8f8;
  padding-bottom: 1rem;
}

/* Calibration list */
.data-review-col {
  background-color: #f8f8f8;
  padding-bottom: 1rem;
  border-right: solid #ffffff 2rem;
}


@media (max-width: 768px) {
  /* Increase spacing between cards and top nav by less on smaller windows */
  #import-card, #review-card, #upload-card {
    margin-top: 2rem;
  }
  
  /* Data edit boxes */
  .data-edit-col {
    margin-top: 3rem;
    padding-top: 1rem;
  }
  
  /* Calibration list */
  .data-review-col {
    padding-top: 1rem;
    border-right: none;
  }
}

@media (max-width: 992px) {
  #review-card {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}